/*ACCUEIL*/

#bodyAC{
    background-image:url("fondACC.jpg");
    background-size: 100% 100%;
    margin:0;   
}



#headerAC{
    background-image:url("fondheader.jpg");
    box-shadow: 0px 9px 11px black;
    border: solid 1px ;
    height: 65px;
    margin: 0; 
}



#navAC{
    margin-top: -1%;
    text-decoration: none;
}


.liAC .aAC:hover{
    zoom: 2;
}

#ulAC{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.liAC .aAC{
    text-shadow: 3px 3px 2px black;
    font-size: 35px;
    font-family: cursive;
    text-decoration: none;
    color: white;
}



#mainAC{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#hautACC{
    display: flex;
    flex-direction: row;
}



#textAC{
    margin-right: -12%;
    margin-top: 1%;
    font-size: xx-large;
}



#h1AC{
    margin-top: -1%;
    color: green;
    font-size: -webkit-xxx-large;
    text-shadow: 4px 2px 2px black;
}



#imgAC{
    box-shadow: 11px 15px 25px black;
    border: 1px solid black;
    width: 35%;
    margin-top: %;
}



#footerAC{
   background-color: green;
    display: flex;
    justify-content: space-around;
    height: 65px;
    margin: 0;
   
}


.pAC{
    color: black;
}



.pfootAC{
    text-align: center;
}


.pfootAC:hover{
    zoom: 2;
}


#logofootAC{
    width: 20%;
    margin-top: -7%;
    margin-left: 37%;    
}
  


/*PRESENTATION*/


#bodyPR{
    background-image:url("fondPR.jpg");
    background-size: 100% 100%;
    margin:0;   
}



#headerPR{
    background-image:url("fondheader.jpg");
    box-shadow: 0px 9px 11px black;
    border: solid 1px ;
    height: 65px;
    margin: 0; 
}



#navPR{
    margin-top: -1%;
    text-decoration: none;
}



#ulPR{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.liPR .aPR{
    text-shadow: 3px 3px 2px black;
    font-size: 35px;
    font-family: cursive;
    text-decoration: none;
    color: white;
}



.liPR .aPR:hover{
    zoom:2;
}



#mainPR{}



#textAC{
    margin-left: 42%;
    margin-top: 1%;
    font-size:20px;
}



#h1AC{
    margin-left: 54%;
    margin-top: 2%;
    color: green;
    font-size: -webkit-xxx-large;
    text-shadow: 4px 2px 2px black;
}



.diaporamaPR{
    margin-left: 2%;
    margin-top: 5%;
    box-shadow: 0px 9px 11px black;
    width: 560px;
    height: 400px;
    border: 3px solid black;
    background-image: url("img1PR.jpg");


    animation-name: diapo1;
    animation-duration:9s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction:normal;
}

    @-webkit-keyframes diapo1{
        O%{background-image: url(img1PR.jpg);}
        30%{background-image: url(img2PR.jpg);}
        60%{background-image: url(img3PR.jpg);}
        }



#vidPR{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px solid black;
    height: 200px;
    width: 360px;
    margin-left: 55%;
    margin-top: 22px;
}



#divdroitePR{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-top: -27%;
}



#titre1PR{
    margin-top: 3%;
    margin-left: 12%;
    font-family: fantasy;
}



#hover1PR{
    margin-top: 6%;
    background-color: green;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.hov1{
    border: 1px solid black;
    box-shadow: 0px 9px 11px black;
    width: 30%;   
}



.hov{
    border: 1px solid black;
    box-shadow: 0px 9px 11px black;
    width: 15%;  
}



.hov:hover{
    zoom: 10;
}



#titre2PR{
    color: white;
    background-color: black;
    margin-top: 11%;
    text-align: center;
    font-family: fantasy;
}



#hover2PR{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#titrehovPR{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
}



.titre3PR{
    font-family: fantasy;
}



#titre4PR{
    color: white;
    background-color: black;
    font-family: fantasy;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 11%;
}



#footnewletPR{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 11%;
    background-color: black;
    height: 255px;
}



#foot1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#foot2{
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#h1new{
    color: white;
    text-align: center;
}



#input1PR{
    text-align: center;
    width: 309px;
    height: 40px;
    margin-left: 23%;
    margin-bottom: 5%;
    background-color: tan;
}



#input2PR{
    text-align: center;;
    width: 309px;
    height: 40px;
    margin-bottom: 5%;
    background-color: tan;
}



#labPR1{
    text-align: center;
    font-size: x-large;
}



#labPR2{
    font-size: 15px;
    color: white;
}



#check{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}



#footerPR{
    background-color: green;
     display: flex;
     justify-content: space-around;
     height: 65px;
     margin: 0;
     margin-top: 1%;
 }
 
 

 .pfootPR{
     text-align: center;
 }
 

 
 .pfootPR:hover{
     zoom: 2;
 }
 


 #logofootPR{
     width: 20%;
     margin-top: -7%;
     margin-left: 37%;    
 }


 .pPR{
     color: black;
 }
   

/*Legumes.CSS*/



#bodyLEG{
    background-size: 100% 100%;
    margin:0; 
}



#headerLEG{
    background-color: green;
}



#navLEG{
    background-color: green;
    text-decoration: none;
}



.liLEG .aLEG:hover{
    zoom: 2;
}

#ulLEG{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.liLEG .aLEG{
    text-shadow: 3px 3px 2px black;
    font-size: 35px;
    font-family: cursive;
    text-decoration: none;
    color: white;
}
  


.load
{
    animation: slide 2s;
}
 


#h1LEG{
    color: white;
}



.catLEG{
    color: white;
}



.slider
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 91vh;
    animation: slide 20s infinite;
}
 


.content
{
    color: white;
    width: 100%;
    height: 100vh;
}
 


.principal
{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}
 


.principal #h1LEG
{
    font-size: 70px;
    margin-bottom: 20px;
}
 


.principal .catLEG
{
    text-decoration: none;
    font-size: 20px;
}



.catLEG:visited{
    color:white;
}


.catLEG:hover{
    zoom: 2;

}



@keyframes slide
{
    0%{
     background-image: url("legumes7.jpg");
     }
     10%{
        background-image: url("legumes.jpg");    
     }
    20%{
     background-image: url("fraises2.jpg");
     }
    20.01%{
     background-image: url("legumes5.jpg");
     }
    40%{
     background-image: url("tomates.webp");
     }
    40.01%{
     background-image: url("salades.jpg");
     }
    60%{
     background-image: url("legumes2.jpg");
     }
    60.01%{
     background-image: url("legume3.jpg");
     }
    80%{
     background-image: url("legumes5.jpg");
     }
    80.01%{
     background-image: url("legumes.jpg");
     }
    100%{
     background-image: url("legumes6.jpg");
     }
    
    }


    #footerLEG{
        background-color: green;
         display: flex;
         justify-content: space-around;
         height: 75px;
         margin: 0;
         margin-top: -5%;
     }
     
     
     .pfootLEG{
         text-align: center;
     }
     
     
     .pfootLEG:hover{
        zoom: 2;
    }
     
     #logofootLEG{
         width: 20%;
         margin-top: -7%;
         margin-left: 37%;    
     }
    
    
    
    .pLEG{
        color: black;
    } 
    

